{% extends 'base.html.twig' %}
{% block body %}
    <header class="masthead text-white text-center">
        <div class="pulse animated overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5" style="font-family: 'B612 Mono', monospace;font-size: 61px;">Tippel 2021</h1>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="col">
            <h1 style="margin-top: 50px;">Mäld di a!</h1>
            <p>Achtung fertig los und mir haueds uf de Tippel.<br><br>Wann: 17. - 18. Arpil 2021<br>Wo: tbd<br><br>Was mueni wüsse: Den Tippel läuft ihr in Gruppen und jede Gruppe hat ihre individuelle Route.&nbsp;</p>
        </div>
        <div class="row">
            <div class="col-auto"><img src="assets/img/886137_map_512x512.png" style="width: 119px;/*float: right;*/"></div>
            <div class="col-6"><a href="register.html" style="height: 100%;widht: 100%;"><button class="btn btn-primary" type="button" style="margin-top: 50px;margin-left: 30px;border: none;background: black;">Fix debi!</button></a></div>
        </div>
    </article>
{% endblock %}