<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item" style="color: #007cba !important;"><a href="#" style="color: black;">Contact</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">© flamberg 2021</p>
            </div>
        </div>
    </div>
</footer>